main {
    margin: auto;
    padding: 0 20%;
    text-align: center;
}

table {
    margin: 2rem auto;
}

caption {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 12px;
}

th {
    font-size: 18px;
    background-color: #e5e5e5;
}

td {
    padding: 12px 32px;
}

a {
    text-decoration: underline;
}

a:hover {
    color: rgb(96, 96, 96);
}

.tabla__any, .tabla__nom {
    font-weight: bold;
}

ol {
  list-style-type: none;
  padding-left: 0;
}