* {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    font-family: "Cormorant Garamond", serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

.header__container {
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
    padding: 4px 24px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.12);
}

.header__list {
    display: flex;
    gap: 24px;

}

.header__list--right {
    margin-left: auto;
}

.annbar__container {
    background-color: #EAEAE6;
    text-align: center;
    padding: 6px 0;
}

.annbar__text > a {
    text-decoration: underline;
}

.hero__container {
    width: 100%;
    height: 100vh;
    background-color: rgb(209, 209, 209);
    background-image: url("https://www.theavenuesinsider.com/storage/app/public/post/w6PVgtcu7ZQPvQpwWz54g7L2jkUnp8ekPchEP98C.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header__link {
    &:hover {
        text-decoration: underline;
    }
}

section {
    margin: 64px 0;
}

.description__p {
    font-size: 16px;
    font-weight: 700;
    margin: 0 18%;
    text-align: center;
}

.doscolumnesimg__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.doscolumnesimg__container > img {
    display: block;
    width: 100%;
    height: 100%;
}

/* HOME */

.trescolumnesimg__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.trescolumnesimg__container > img {
    display: block;
    width: 100%;
    height: 100%;
}

.PantalonDeportivo {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
}

.imagenPantalonDeportivo {
    flex: 1;
}

.imagenPantalonDeportivo img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.descripcionPantalonDeportivo {
    flex: 1;
}

.descripcionPantalonDeportivo ul {
    list-style-type: disc;  
    margin-left: 20px;     
    padding-left: 0;
    margin-bottom: 20px;
}

.descripcionPantalonDeportivo li{
    font-size: larger;
    margin-bottom: 2.5px;

}
.descripcionPantalonDeportivo h2 {
    font-size: 40px;
}
.descripcionPantalonDeportivo h3 {
    font-size: 25px;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 400;
}
.descripcionPantalonDeportivo h4{
    margin-bottom: 10px;
    font-size: 18px;
}

.selector-talla {
    margin-top: 20px;
    margin-bottom: 40px;
}

.selector-talla select {
    padding: 8px 12px;
    border-radius: 6px;
    border: 2.5px solid #aaa;
    font-size: 14px;
    cursor: pointer;
    background-color: #fff;
    width: 400px;
}

.descripcionPantalonDeportivo p {
    font-size: 18px;
    margin-bottom: px;
   
}

.descripcionPantalonDeportivo p strong {
    font-size: 18px; 
    font-weight: 600;
}